@model App.Domain.Identity.AppRefreshToken

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AppRefreshToken</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AppUserId" class="control-label"></label>
                <select asp-for="AppUserId" class ="form-control" asp-items="ViewBag.AppUserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RefreshToken" class="control-label"></label>
                <input asp-for="RefreshToken" class="form-control" />
                <span asp-validation-for="RefreshToken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpirationDT" class="control-label"></label>
                <input asp-for="ExpirationDT" class="form-control" />
                <span asp-validation-for="ExpirationDT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreviousRefreshToken" class="control-label"></label>
                <input asp-for="PreviousRefreshToken" class="form-control" />
                <span asp-validation-for="PreviousRefreshToken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreviousExpirationDT" class="control-label"></label>
                <input asp-for="PreviousExpirationDT" class="form-control" />
                <span asp-validation-for="PreviousExpirationDT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
